.dropdown {
    width: 400px;
    height: 60px;
    outline: none;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(59,130,246,0.05) ;
}

.dropdown button {
    display: flex;
    font-size: 20px;
    font-weight: lighter;
}

.menu{
    width: 100%;
}