.input-icons i {
    position: absolute;
}
  
.input-icons {
    width: 400px;
    margin-bottom: 10px;
}
  
.icon {
    padding: 10px;
    min-width: 40px;
    font-size: 25px;

}
  
.input-field {
    width: 100%;
    padding: 10px;
    padding-left: 35px;
    text-align: left;
    font-size:20px ;
    color:  #eb143a;
}