.input-icons i {
    position: absolute;
}
  
.input-icons {
    width: 400px;
    margin-bottom: 10px;
}
  
.icon {
    padding: 12px;
    min-width: 40px;
    font-size: 25px;

}
  
.input-field {
    width: 100%;
    padding: 14px;
    padding-left: 35px;
    text-align: left;
    font-size:20px ;
    border: none;
    border-bottom: 1px solid gray;
    background-color:rgba(59,130,246,0.05) ;
    
}

.input-field:focus{
    outline: none;
    border:5px solid rgba(59,130,246,0.5);
}

input::placeholder{
    color:  gray;
    font-weight: 300;
}